.frame {
    height:500px;
    padding:0 !important;
}

.ball{
    width:50px;
    height:50px;
    background-color: white;
    margin: 15px;
    border-radius: 25px;
    animation-name: round;
    animation-duration:5s;
    animation-iteration-count: 100;
    animation-direction:alternate;
    animation-timing-function: linear;
}



@keyframes move {
    from { transform:translateX(5px)}
    to {transform:translateX(925px)}
}

@keyframes round{
    0%{ transform: translateX(0) translateY(0px)}
    25%{transform: translateX(150px) translateY(425px)}
    50%{transform: translateX(400px) translateY(0px)}
    75%{transform: translateX(600px) translateY(425px)}
    100%{transform: translateX(850px) translateY(0px)} 
}


.scene {
    width:300px;
    height:400px;

    margin: 75px auto;
    perspective: 1000px;    
}

.card{
    width:100%;
    height:100%;
    position:relative;
    transform-style: preserve-3d;
    transition:transform 1s;
}

.card_face {
    width:100%;
    height:100%;
    font-size:32px;
    text-align:center;
    line-height: 100px;
    position:absolute;
    backface-visibility: hidden;
}

.card_face--front{
    background-color: rgb(0, 0, 255);
    color:white;

}

.card_face--back {
    background-color: rgba(0, 128, 0, 1.0);
    color:white;
    transform:rotateX(180deg);
}

.card:hover{
    transform:rotateX(180deg);
}