
.sidebar,
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
}
.sidebar{
    left: -100%;
    max-width: 300px;
    transition: all ease 0.25s;
    
}

.md-text-left{
    flex-direction: row;
    align-items: flex-end !important;
    
}

.overlay{
    left: 0;
    right:0;
    height:100%;
    width:100%;
    background-color: rgba(0,0,0,0.75);
    visibility: hidden;
}

.main-navigation.active .sidebar{
    left:0;
}



.main-navigation.active .overlay{
    visibility:visible;
}

@media (min-width: 992px){
    .sidebar{
        position:relative;
        top:auto;
        left:auto;
        flex-direction: row;
        max-width:100%;
        transition:none;
        overflow-y: visible;
    }
}

.nav-link {
    font-family: poppins;
    font-size:16px;
    color:white;
    font-weight: 600;
    padding:15px!important;
}

.nav-link:hover{
    color:#ffc04a!important;
}


.navbar-nav{
    margin-left: 25px;
}

.navbar{
    background-color:#1c150c; 
}

.navbar-brand{
    position: absolute;
    left:50%;
    transform:translateX(-50%);
    top:10px;
}






@media screen and (min-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
        background-color: #eee;
    }
    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
}


